<!DOCTYPE html>
<html>
<head>
    <title>Live Lightning Map</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
</head>
<body>
    <div id="map" style="width: 100%; height: 600px;"></div>
    <script type="text/javascript">
        var map = L.map('map').setView([{{ base_lat }}, {{ base_lon }}], 10);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/test');
        socket.on('new_strike', function(data) {
            L.circle([data.lat, data.lon], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 500
            }).addTo(map);
        });
    </script>
</body>
</html>
